<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>title</title>
</head>

<body>

  <div class="container text-center py-5">
    <div class="row justify-content-center">
      <div class="col-lg-10">


        <div class="row">
          <div class="col-lg-4 align-self-center">
            <img src="profile.png" class="img-fluid" alt="Responsive image">
          </div>

          <div class="col-lg-8">

            <h1>A Politician</h1>
            <h5>Title: Minister of Defense</h5>
            <h5>Party: A party</h5>
            <h5>Electorate: Electorate</h5>
            <button type="button" class="btn btn-primary">Edit Profile</button>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                  aria-selected="true">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                  aria-selected="false">Promises</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                  aria-selected="false">Views</a>
              </li>
            </ul>
          </div>



        </div>

        <div class="tab-content profile-tab py-5" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="row">
              <div class="col-lg-6">
                <img src="canvas-radar-2.png">
              </div>

              <div class="col-lg-6">
                <label for="customRange3">Trustworthy</label>
                <input type="range" class="custom-range" min="-1" max="10" step="1" id="customRange3">
                <label for="customRange3">Accountable</label>
                <input type="range" class="custom-range" min="-1" max="10" step="1" id="customRange3">
                <label for="customRange3">Empathetic</label>
                <input type="range" class="custom-range" min="-1" max="10" step="1" id="customRange3">
                <label for="customRange3">Knowledgeable</label>
                <input type="range" class="custom-range" min="-1" max="10" step="1" id="customRange3">
                <label for="customRange3">Respectful</label>
                <input type="range" class="custom-range" min="-1" max="10" step="1" id="customRange3">
              </div>



            </div>


            <img src="canvas.png" class=" img-fluid">



          </div>

          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            <!-- Promises       -->
            <div class="accordion" id="accordion">

              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
                      aria-controls="collapse1">
                      Promise #1   <button type="button" class="btn btn-primary float-right">Edit</button>
                    </button>
                  </h5>
                </div>

                <div id="collapse1" class="collapse show" aria-labelledby="heading2" data-parent="#accordion">
                  <div class="card-body">


                    <div class="row">
                      <div class="col-lg-8">
                        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper
                          tincidunt
                          justo,
                          ac tempor mi consectetur vitae. Curabitur tempus enim non felis elementum, a imperdiet massa
                          euismod.
                          In hac habitasse platea dictumst. Fusce ultrices mi tristique leo vehicula, eget vestibulum
                          arcu
                          vestibulum. </p>
                        <p>Source: www.wikipedia.com</p>
                      </div>
                      <div class="col-lg-4 text-center">
                        <img src="canvas.png" class=" img-fluid">
                      </div>
                      <div class="col-lg-12 text-center">
                        <p>Have your say, was this promise:</p>
                        <div class="btn-group btn-group-justified text-centered">
                          <div class="btn-group">
                            <button type="button" class="btn btn-success">Achieved</button>
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn btn-warning">Partially Achieved</button>
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn btn-danger">Broken</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true"
                      aria-controls="collapse2">
                      Promise #2 <button type="button" class="btn btn-primary float-right">Edit</button>
                    </button>
                  </h5>
                </div>

                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                  <div class="card-body">


                    <div class="row">
                      <div class="col-lg-8">
                        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper
                          tincidunt
                          justo,
                          ac tempor mi consectetur vitae. Curabitur tempus enim non felis elementum, a imperdiet massa
                          euismod.
                          In hac habitasse platea dictumst. Fusce ultrices mi tristique leo vehicula, eget vestibulum
                          arcu
                          vestibulum. </p>
                        <p>Source: www.wikipedia.com</p>
                      </div>
                      <div class="col-lg-4 text-center">
                        <img src="canvas.png" class=" img-fluid">
                      </div>
                      <div class="col-lg-12 text-center">
                        <p>Have your say, was this promise:</p>
                        <div class="btn-group btn-group-justified text-centered">
                          <div class="btn-group">
                            <button type="button" class="btn btn-success">Achieved</button>
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn btn-warning">Partially Achieved</button>
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn btn-danger">Broken</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>

            
           <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">


            <div class="accordion" id="accordion2">

              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#view1" aria-expanded="true"
                      aria-controls="view1">
                      View #1 <button type="button" class="btn btn-primary float-right">Edit</button>
                    </button>
                  </h5>
                </div>

                <div id="view1" class="collapse show" aria-labelledby="view1" data-parent="#accordion2">
                  <div class="card-body">


                    <div class="row">
                      <div class="col-lg-12">
                        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper
                          tincidunt
                          justo,
                          ac tempor mi consectetur vitae. Curabitur tempus enim non felis elementum, a imperdiet massa
                          euismod.
                          In hac habitasse platea dictumst. Fusce ultrices mi tristique leo vehicula, eget vestibulum
                          arcu
                          vestibulum. </p>
                        <p>Source: www.wikipedia.com</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#view2" aria-expanded="true"
                      aria-controls="view2">
                      View #2 <button type="button" class="btn btn-primary float-right">Edit</button>
                    </button>
                  </h5>
                </div>

                <div id="view2" class="collapse" aria-labelledby="view2" data-parent="#accordion2">
                  <div class="card-body">


                    <div class="row">
                      <div class="col-lg-12">
                        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper
                          tincidunt
                          justo,
                          ac tempor mi consectetur vitae. Curabitur tempus enim non felis elementum, a imperdiet massa
                          euismod.
                          In hac habitasse platea dictumst. Fusce ultrices mi tristique leo vehicula, eget vestibulum
                          arcu
                          vestibulum. </p>
                        <p>Source: www.wikipedia.com</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div> 


        </div>

      </div>
    </div>
  </div>


</body>

</html>