<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Search Results</h1>
    <!-- <div class="container bg-light text-dark">
        <div class="row">
          <div class="col-md-auto">
              <img src="profile.jpeg" class="img-fluid" alt="Default Profile Picture"> 
          </div>
          <div class="col-md-auto align-self-Start">
            <div class="row"> 
                John Smith     
            </div>
            <div class="row"> 
                John Smith     
            </div>
          </div>
        </div>
      </div> -->

      <section>
          <div class="container py-3 ">
            <div class="card bg-light py-3">
              <div class="row ">
                <div class="col-md-2 align-self-center text-center">
                    <img src="profile.jpeg" class=" img-fluid">
                  </div>
                  <div class="col-md-3 px-3 align-self-center text-center">
                    <div class="card-block px-3">
                      <h4 class="card-title">John Smith</h4>
                      <p class="card-text">Prime Minister</p>
                      <p class="card-text">Australian Liberal Party</p>
                      <p class="card-text">Electorate: Boeing</p>
                    </div>
                  </div>
                  <div class="col-md-4 px-3 align-self-center text-center">
                      <div class="card-block px-3">
                          <img src="canvas.png" class=" img-fluid">
                        
                      </div>
                    </div>
                    <div class="col-md-3 px-3 align-self-center text-center">
                      <div class="card-block px-3">
                        <a href="#" class="btn btn-primary">View</a>
                       </div>
                    </div>
              </div>
            </div>
          </div>
        </section>

  

          <div class="jumbotron jumbotron-fluid">
              <div class="container">
                  <p class="lead">Can't find the Politician you are looking for :</p>
                  <button type="button" class="btn btn-primary" href="/add/a/politician">Add a Polly</button>
              </div>    
          </div>

    
   


  
  </body>
</html>